<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uvigo.learnfordown.learnfordown"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk tools:overrideLibrary="com.microsoft.windowsazure.mobileservices"/>
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".home_screen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


       <!-- <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity
            android:name="com.LearnForDown.RecogeMonedas.UnityPlayerActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
        </activity>

        <activity
            android:name=".Puzzle4piezas"
            android:screenOrientation="landscape" />
        <activity
            android:name=".poppuzzle"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".menu_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".login_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".login_screen_like"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lettergame1lvl_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lettergame2lvl_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lettergame3lvl_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lettergame4lvl_screen"
            android:screenOrientation="landscape" />
        <activity android:name=".DisplayMessageActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".sidirectas_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siinversas_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".sitrabadas_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".palabrasdi_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".palabrasin_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".palabrastra_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".frasein_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".frasedi_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu_write_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".frasetra_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".palabrasgame1_2lvl_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".frasegame1lvl_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".silabasgame1lvl_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".silabasgame2lvl_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".silabasgame3lvl_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".silabasgame4lvl_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StrokesTrainingActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".loading_screen"
            android:screenOrientation="landscape">

            <!--
            android:label="@string/title_activity_loading_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            -->
        </activity>
        <activity
            android:name=".writegame_level1_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".writegame_level3_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".writegame_level4_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".writegame_level2_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ParejasFacil"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ParejasDificil"
            android:screenOrientation="landscape" />

        <!--<activity
            android:name=".PRUEBA"
            android:label="@string/title_activity_prueb"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />-->
        <activity
            android:name=".endScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".avatarScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".listusers_screen"
            android:label="@string/title_activity_listusers_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <activity android:name=".Puzzle9piezas"
            android:screenOrientation="landscape">
        </activity>
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".edit_screen"></activity>
    </application>

</manifest>