<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uvigo.learnfordown.learnfordown">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".home_screen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu_screen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lettergame1lvl_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lettergame2lvl_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lettergame3lvl_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lettergame4lvl_screen"
            android:screenOrientation="landscape" />
        <activity android:name=".DisplayMessageActivity" />
        <activity android:name=".MenuLectura1" />
        <activity
            android:name=".login_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".login_screen_like"
            android:screenOrientation="landscape" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".sidirectas_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".siinversas_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".sitrabadas_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".palabrasdi_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".palabrasin_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".palabrastra_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".frasein_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".frasedi_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".frasetra_screen"
            android:screenOrientation="landscape" />
        <activity android:name=".palabrasgame1_1lvl_screen" />
        <activity android:name=".palabrasgame1_2lvl_screen" />
        <activity android:name=".frasegame1lvl_screen" />
        <activity android:name=".silabasgame1lvl_screen" />
        <activity android:name=".silabasgame2lvl_screen" />
        <activity android:name=".silabasgame3lvl_screen" />
        <activity android:name=".silabasgame4lvl_screen" />
        <activity android:name=".menu_write_screen" />
        <activity android:name=".frasedi_w_screen" />
        <activity android:name=".frasein_w_screen" />
        <activity android:name=".frasetra_w_screen" />
        <activity android:name=".palabrasdi_w_screen" />
        <activity android:name=".palabrasin_w_screen" />
        <activity android:name=".palabrastra_w_screen" />
        <activity android:name=".sidirectas_w_screen" />
        <activity android:name=".siinversas_w_screen" />
        <activity android:name=".sitrabadas_w_screen" />
        <activity android:name=".frasegame1lvl_w_screen" />
        <activity android:name=".lettergame1lvl_w_screen" />
        <activity android:name=".lettergame2lvl_w_screen" />
        <activity android:name=".lettergame3lvl_w_screen" />
        <activity android:name=".lettergame4lvl_w_screen" />
        <activity android:name=".silabasgame1lvl_w_screen" />
        <activity android:name=".silabasgame2lvl_w_screen" />
        <activity android:name=".silabasgame3lvl_w_screen" />
        <activity android:name=".silabasgame4lvl_w_screen"></activity>
    </application>

</manifest>